<!-- pallette de couleurs -->
<div class="d-flex justify-content-center">
  <div class="box-color" style="background-color: var(--white);"></div>
  <div class="box-color" style="background-color: var(--light-grey);"></div>
  <div class="box-color" style="background-color: var(--first-color);"></div>
  <div class="box-color" style="background-color: var(--second-color);"></div>
  <div class="box-color" style="background-color: var(--dark-grey);"></div>
</div>

<h1 class="playfair">Titre blabla texte et <em>tout ce que vous voulez</em></h1>
Suspendisse rutrum lectus sit amet nisl sollicitudin, non euismod ante pharetra. Suspendisse potenti. Aliquam cursus dictum purus, et dapibus odio euismod a. Nullam ultrices ante sed lacus ultricies porttitor. Sed sollicitudin mollis imperdiet. Ut nec velit sit amet urna laoreet sagittis. Maecenas porttitor luctus scelerisque. Cras vitae iaculis mauris.Ecrire ici l'histoire du personnage :  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dapibus eget risus eu rutrum. Nam sed maximus sapien. Vestibulum lacus nulla, laoreet non elit vitae, sagittis finibus urna. Nulla iaculis placerat ornare. Quisque consectetur maximus bibendum. Fusce eget condimentum ipsum. Nullam nec velit hendrerit, tristique ex eu, suscipit libero. Vivamus pretium metus ut libero semper dignissim.