<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Confirmation de commande de l'utilisateur <%= @user.first_name %> !</h1>
    <p>
     Blablabla
    </p>
    <p>
      
    </p>
    <p>
  </body>
</html>