<div class="index-card d-flex justify-content-center flex-wrap">

<% if params[:id] %>

  <% @it.each do |t| %>
    <% @items = Item.where(id: t.item_id) %>
    
    <%= render 'card_item' %>

  <%end%>

<% else %>

  <%= render 'card_item' %>

  <% end%> <!-- fin générale du if params -->

  </div>
