
/* formulaires */

.form-page {
  width:60%;
  margin:50px auto;
  background-color:var(--white);
  padding:50px;
}

.btn {
  background-color: var(--first-color);
  border:0px;
  text-transform:uppercase;
  letter-spacing:2px;
}

.btn:hover {
  background-color: var(--dark-grey);
}

label {
  color: var(--first-color);
}
