/* header*/
.jumbotron {
  padding:0px;
  margin:0px;
}

.img-jumbotron {
  width:100%;
  object-fit:cover;
  height: var(--height-header);
  z-index:0;
}

.jumbotron-text {
  z-index:1;
  margin-top:var(--height-header-neg);
  height: var(--height-header);
}

.jumbotron-text h1{
  color: var(--dark-grey);
}

.jumbotron-text p{
  background-color: var(--light-grey);
  width:50%;
  line-height:18px;
  color: var(--dark-grey) !important;
  padding: 3px 10px 1px 10px;
}

/* navbar de recherche sous le jumbotron */
.second-bar {
  padding:10px;
  background-color:var(--first-color);
}

.search-bar {
  width:100%;
}

.search-b {
  background: none !important;
  border:0px;
  color: var(--white) !important;
}

.search{
  background-color: var(--light-grey);
  margin:5px;
}

form {
  width:70%;
  margin:auto;
}

.btn-drop-tag {
  text-align:left;
  padding-left: 20%;
}

.search-by-tag{
  overflow:hidden;
  height:0px;
  background-color: var(--light-grey);
  width:100%;
  padding:0px 100px;
}

.search-by-tag a{
  text-shadow:1px 0px 0px var(--white);
  margin: 10px;
}