
<% if flash[:success] %>
  <div class="flash">
    <%= flash[:success] %>
  </div>
  <% elsif flash[:alert] %>
  <div class="flash">
    <%= flash[:alert] %>
  </div>
  <% elsif flash[:info] %>
  <div class="flash">
    <%= flash[:info] %>
  </div>
  <% elsif flash[:danger] %>
  <div class="flash">
    <%= flash[:danger] %>
  </div>
<% end %>