<!-- jumbotron -->

<a href="/">
  <div class="jumbotron jumbotron-fluid">

  <%= image_tag 'c0.jpg', :class => "img-jumbotron" %>

    <div class="container jumbotron-text d-flex flex-column justify-content-center">
      <h1 class="playfair display-4">Kitten Pics</h1>
      <p class=" up">Cherche les plus belles images de chatons et achète-les !</p>
    </div>
    
  </div>
</a>
      
<!-- barre de recherche -->
<!--
<div class="second-bar d-flex justify-content-around">
  <div width="100%"></div>
  <div style="width:550px;">
    <form class="search-bar form-inline">
        <input class="form-control search-b mr-sm-2" style="width:300px;" type="search" placeholder="Envie d'un chat en particulier ?" aria-label="Search">
        <button class="search btn my-2 my-sm-0" style="background-color:var(--light-grey);" type="submit">Rechercher</button>
    </form>
  </div>
</div>
-->

<!-- barre de recherche des tags -->
<div class="second-bar btn-drop-tag up">
Envie d'un chat en particulier ?
</div>

<div class="search-by-tag up">

<% all_tags = Tag.all %>
<% all_tags.each do |tag| %>
  <a href="/<%= tag.id%>" data-remote="true">
  <%= tag.name %>
  </a>
<%end%>

</div>

<%= render 'layouts/flash'%>