<!-- jumbotron -->

<a href="/">
  <div class="jumbotron jumbotron-fluid">

  <%= image_tag 'c0.jpg', :class => "img-jumbotron2" %>

    <div class="container jumbotron-text2 d-flex flex-column justify-content-center">
      <h1 class="playfair display-4">Kitten Pics</h1>
      <p class=" up">Cherche les plus belles images de chatons et achète-les !</p>
    </div>
    
  </div>
</a>